<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory name="NHibernate.SQLite">
            <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
            <property name="connection.connection_string">
                Data Source=Dictionary.db3
            </property>
            <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
            <property name="show_sql">true</property>
        </session-factory>
    </hibernate-configuration>
    <log4net>
        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{H:mm:ss} [%t] %-5p [%c#%M] - %m%n" />
            </layout>
        </appender>
        <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Error.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="20" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <threshold value="WARN" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN" />
                <levelMax value="ERROR" />
            </filter>
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c#%M] - %m%n" />
            </layout>
        </appender>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Ols.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="20" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <preserveLogFileNameExtension value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c#%M] - %m%n" />
            </layout>
        </appender>
        <appender name="SqlFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Sql.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="20" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <preserveLogFileNameExtension value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c#%M] - %m%n" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="ErrorRollingFileAppender" />
        </root>
        <logger name="NHibernate.SQL" additivity="true">
            <level value="DEBUG" />
            <appender-ref ref="SqlFileAppender" />
        </logger>
    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.101.0" newVersion="1.0.101.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>